!!! strict
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %title Tony Fucking Abbott?!?!
    %link{:rel => "icon", :href => "/images/favicon.ico", :type => "image/x-icon"}
    %link{:rel=>'stylesheet ', :href=>'/stylesheets/reset.css', :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/main.css', :type => "text/css"} 
  %body 
    #wrapper
      %h1 
        %a{:href => "/"} Tony Fucking Abbott?!?!!
      #page
        %h2
          At least
          %strong=@results.length
          people have sworn about Tony Abbott on Twitter recently.
        = yield
      #footer
        %p
          Made by 
          %a{:href => "http://lachstock.com.au/"} Lachlan Hardy
          ,
          %a{:href => "http://andycoffey.com/"} Andy Coffey
          , and some good friends to express some frustration and rage by sharing that of others.
  / reinvigorate tracking code
  %script{ :type => "text/javascript",  :src => "http://include.reinvigorate.net/re_.js"}
  %script{ :type => "text/javascript"} try {reinvigorate.track("v1qd1-214gjdk0e0");} catch(err) {}